<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hioa.mappe2.s171183"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hioa.mappe2.s171183.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.CalendarActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.ContactsListActivity"
            android:label="@string/title_activity_contacts_list" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.NotificationRecieverActivity"
            android:label="@string/title_activity_notification_reciever" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.NotificationCreatorActivity"
            android:label="@string/title_activity_notification_reciever" >
        </activity>
    </application>

</manifest>