<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hioa.mappe2.s171183"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="hioa.mappe2.s171183.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.DatePickerActivity"
            android:label="@string/title_activity_calendar" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.ContactsListActivity"
            android:label="@string/title_activity_contacts_list" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.NotificationReciever" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.NotificationCreatorActivity" >
        </activity>
        <activity
            android:name="hioa.mappe2.s171183.PhoneBook"
            android:label="@string/title_activity_phone_book" >
        </activity>
        
        <service
	  		android:name=".BirthdayChecker"
	  		android:enabled="true"
	  		android:icon="@drawable/app_notification"
	  		android:label="@string/service_name" >
		</service> 
		
        <receiver android:name=".StartServiceReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>